
## IRC SERVER: emulator irc-server container (clearnet)
################################################################################
[MESSAGING:server1]
# by default the legacy format without a `type` field is
# understood to be IRC, but you can, optionally, add it:
# type = irc
channel = joinmarket-pit
port = 6667
usessl = false

# For traditional IP:
host = irc-server
socks5 = false
# Needs to present even if not used
socks5_host = placeholder
socks5_port = 0000
